{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="d-flex container my-5">
  <div class="col-6 d-flex flex-column justify-content-center px-3">
    <div class="text-center">
      <h1 class="text-primary">Welcome to Zenith Motors</h1>
      <p class="text-light-emphasis">Drive into Excellence: Your Trusted Destination for Premier Car Care at Zenith Motors"</p>
    </div>
  </div>
  <div class="col-6">
    <img src="{% static 'car_cover.jpg' %}" class="img-fluid" alt="" >
  </div>
</div>

<div class="d-flex pt-5 container mb-5">
  <div class="col-2">
    <h5>All Brands</h5>
    {% for brand in brands %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="brands" id="{{brand.id}}">
        <label class="form-check-label" for="{{brand.id}}">  
          <a href="{% url 'brand_wise_post' brand.slug %}" class="text-decoration-none">{{brand.brand_name}}</a>
        </label>
      </div>
    {% endfor %}
  </div>

  <div class="col-10">
    <h5>{{data | length }} results found</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for car in data %}
      <div class="col">
        <div class="card">
          <img src="{{car.image.url}}" class="card-img-top" alt="..." style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'car_detail' car.id %}" class="text-decoration-none">
                {{car.model_name}}
              </a>
            </h5>
            <p class="card-text">{{car.description}}</p>
            <p class="card-text"><b>Brand:</b> {{car.brand}}</p>
            <p class="card-text"><b>Price:</b> ${{car.price}}</p>
            <p class="card-text"><b>Unit:</b> {{car.quantity}}</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Posted by: {{car.author.first_name}} {{car.author.last_name}}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}